body{

margin:0;
font-family:Arial;
background:black;
color:white;

}

nav{

background:#111;
padding:15px;
display:flex;
gap:20px;
align-items:center;

}

nav a{

color:white;
text-decoration:none;
font-weight:bold;

}

nav a:hover{

color:red;

}

.dashboard{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;

}

.card{

background:#111;
padding:20px;
border-left:5px solid red;

}

.container{

padding:30px;

}

input{

padding:10px;
margin:10px 0;
width:200px;

}

button{

background:red;
border:none;
padding:10px 20px;
color:white;
cursor:pointer;

}
